.player {
    width: 32px;
    height: 64px;
    background-color: #e74c3c;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;  /* 플레이어 테두리 */
}

.head {
    width: 32px;
    height: 32px;
    background-color: #f1c40f;
    border-radius: 50%;
}

.body {
    width: 28px;
    height: 30px;
    background-color: #e74c3c;
}
